@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: black;
  color: white;
  text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.4);
}

main {
  box-sizing: border-box;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.js-clock h1 {
  font-size: 100px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-shadow: 2px 0px 3px rgba(0, 0, 0, 0.2);
  transition: color 0.3s ease-in-out;
}

.js-clock h1:hover {
  color: rgb(211, 255, 255);
}

@media (max-width: 414px) {
  .js-clock h1 {
    font-size: 80px;
  }
}

@media (max-width: 320px) {
  .js-clock h1 {
    font-size: 60px;
  }
}

.form,
.greetings {
  display: none;
}

.greetings {
  font-size: 40px;
  font-weight: 700;
  margin: 30px 0px;
  text-shadow: 2px 0px 3px rgba(0, 0, 0, 0.2);
}

.greetings:hover {
  animation: shaking 0.5s ease-in-out infinite;
}
.showing {
  display: block;
  margin-top: 0px;
}

.showing:hover {
  color: rgb(211, 255, 255);
  transition: color 0.3s ease-in-out;
}

@keyframes shaking {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: none;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

input:focus {
  outline: none;
  border-bottom: white solid 3px;
  border-radius: 2px;
}

input {
  width: 180px;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 15px 30px;
  border: none;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 2px 0px 3px rgba(0, 0, 0, 0.5);
  transition: border-bottom 0.2s ease-in-out;
}

input::placeholder {
  font-weight: 500;
  text-shadow: 2px 0px 3px rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
}

.form input {
  width: 300px;
  font-size: 25px;
}

.form input::placeholder {
  font-size: 25px;
}

.toDoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.toDoList li {
  margin-bottom: 10px;
  font-size: 18px;
}

li button {
  font-size: 18px;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

li button:focus {
  outline: none;
}

li button:hover {
  transform: scale(1.5);
}

.weather-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 5px 20px;
}

.weather-box div:last-child {
  display: flex;
}

.js-weather {
  margin-left: 5px;
}

.weather {
  transition: color 0.3s ease-in-out;
}

.weather:hover {
  color: rgb(211, 255, 255);
}

.reset,
.todoDelete {
  border: none;
  border-bottom: solid white 2px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  margin: 0px 10px;
  text-shadow: 2px 0px 3px rgba(0, 0, 0, 0.5);
}

.reset:focus,
.todoDelete:focus {
  outline: none;
}

.reset:hover,
.todoDelete:hover {
  transform: scale(1.2);
  color: rgb(211, 255, 255);
  border-bottom-color: rgb(211, 255, 255);
}

.snow {
  background: none;
  background-image: url("letitsnow/snow.png"), url("letitsnow/snow2.png"),
    url("letitsnow/snow3.png");
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
}

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

@-moz-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

@-webkit-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-color: #b4cfe0;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
    background-color: #6b92b9;
  }
}

@-ms-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}
